<?xml version="1.0"?>
<config>
    <modules>
        <MageFM_Cielo>
            <version>1.0.0</version>
        </MageFM_Cielo>
    </modules>
    <global>
        <blocks>
            <magefm_cielo>
                <class>MageFM_Cielo_Block</class>
            </magefm_cielo>
        </blocks>
        <helpers>
            <magefm_cielo>
                <class>MageFM_Cielo_Helper</class>
            </magefm_cielo>
        </helpers>
        <models>
            <magefm_cielo>
                <class>MageFM_Cielo_Model</class>
            </magefm_cielo>
        </models>
    </global>
    <default>
        <payment>
            <magefm_cielo>
                <payment_action>authorize</payment_action>
                <model>MageFM_Cielo_Model_Method</model>
                <title><![CDATA[Cartão de crédito]]></title>
                <cctypes><![CDATA[visa,mastercard]]></cctypes>
                <installments_number>3</installments_number>
                <installments_amount>50.00</installments_amount>
            </magefm_cielo>
        </payment>
    </default>
</config>
